* {
    margin: 0;
    padding: 0;
  }
  
  .superclass {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 60px;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly along the container */
    padding: 0 120px; /* Add padding to the sides for spacing */
  }
  
  .logo {
    font-size: 30px;
  }
  
  .navlink ul {
    list-style: none;
    display: flex; /* Display list items horizontally */
  }
  
  .navlink ul li {
    margin-right: 20px; /* Add margin between each list item */
  }

  .navlink ul li a {
    text-decoration: none;
    color: white;
  }